@import "(a) colors.scss";
@import "(b) variables.scss";

html {
    margin: 0 auto;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  /*  @include desktop{
      font-size: 65%;
    }*/
  }

body {
 background-color: white;
}
.splash-img-sect{
  background-image: url(https://cdn.pixabay.com/photo/2016/02/19/11/51/world-trade-center-1210003_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-emphasis: bold;
  height: 100vh;
}
.two-sect{
  background-color: $primary-color;
  height: 95vh;
  @include phone {
    height: 365vh;
  }
  @include tablet {
    height: 95vh;
  }
  @include laptop {
    height: 95vh;
  }
}
.title{
  display: flex;
  justify-content: space-around;
  font-size: 10rem;
  transform: translateY(15rem);
  color: white;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  @include phone{
    font-size: 4rem;
  }
  @include tablet{
    font-size: 7rem;
  }
  @include laptop{
    animation-name: title-slide;
    animation-duration: 7.5s;
    font-size: 10rem;
  }
}

@keyframes title-slide {
  0%{
    font-size: 5rem;
  }
  100%{
    transform: translateY(15rem);
    font-size: 10rem;
  }
}

.menu-button{
  background-color: rgba(0,0,0,0);
  border-radius: 15rem;
}

.menu-button:hover{
  background-color: red;
}

.title-2{
  display: flex;
  justify-content: space-around;
  font-size: 10rem;
  color: #2c2c2c;
  letter-spacing: .5rem;
  text-shadow: 
    4px 4px 0px $background-color, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
  @include phone {
    font-size: 3rem;
  }
  @include tablet {
    font-size: 5rem;
  }
  @include laptop { 
    font-size: 10rem;
  }
}

.music-control{
  position: absolute;
  right: 0;
}

audio{
  height: 4rem;
@include phone {
  height: 2rem;
}
@include tablet{
  height: 3rem;
}
@include laptop{
  height: 4rem;
}
}

.bold-title{
  font-size: 3rem;
  color: #202020;
  letter-spacing: .1rem;
  text-shadow: 
    3px 3px 1.5px #363636;
  @include phone {
    font-size: 2rem;
  }
  @include tablet {
    font-size: 2.5rem;
  }
  @include laptop {
    font-size: 3rem;
  }
}

.card-sect{
  height: 80vh;
  display: flex;
  justify-content: space-around;
  @include phone {
    flex-direction: column;
    height: 350vh;
  }
  @include tablet {
    height: 80vh;
    flex-direction: row;
  }
  @include laptop {
    height: 80vh;
    flex-direction: row;
  }
}

.man-card{
  perspective: 150rem;
  height: 65vh;
  width: 20rem;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  box-shadow:
  10px 10px 5px #363536;
}

.man-card-side{
  height: 65vh;
  width: 20rem;
  font-size: 3rem;
  color: black;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.man-card-side-front{
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.25s;
}

.man-card-side-front-text{
  transform: translateY(-12.5rem);
  color: #202020;
  letter-spacing: .3rem;
  text-shadow: 
    2px 2px 1px #363636;
}

.man-card-side-back{
  background-color: whitesmoke;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: rotateY(-180deg);
  transition: all 0.25s;
}

.man-card:hover .man-card-side-front{
  transform: rotateY(-180deg);
  z-index: 2;
}

.man-card:hover .man-card-side-back{
  transform: rotateY(0deg);
}

.bklyn-card{
  perspective: 150rem;
  height: 65vh;
  width: 20rem;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  box-shadow:
    14px 14px 8px #363536;
}

.bklyn-card-side{
  height: 65vh;
  width: 20rem;
  font-size: 3rem;
  color: black;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bklyn-card-side-front{
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.25s;
}

.bklyn-card-side-front-text{
  transform: translateY(-12.5rem);
  color: #202020;
  letter-spacing: .3rem;
  text-shadow: 
    2px 2px 1px #363636;
}

.bklyn-card-side-back{
  background-color: whitesmoke;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: rotateY(-180deg);
  transition: all 0.25s;
}

.bklyn-card:hover .bklyn-card-side-front{
  transform: rotateY(-180deg);
}

.bklyn-card:hover .bklyn-card-side-back{
  transform: rotateY(0deg);
}

.SI-card{
  perspective: 150rem;
  height: 65vh;
  width: 20rem;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;  
  box-shadow:
    18px 18px 11px #363536;
}

.SI-card-side{
  height: 65vh;
  width: 20rem;
  font-size: 3rem;
  color: black;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.SI-card-side-front{
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.25s;
}

.SI-card-side-front-text{
  transform: translateY(-12.5rem);
  color: #202020;
  letter-spacing: .1rem;
  text-shadow: 
    2px 2px 1px #363636;
}

.SI-card-side-back{
  background-color: whitesmoke;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: rotateY(-180deg);
  transition: all 0.25s;
}

.SI-card:hover .SI-card-side-front{
  transform: rotateY(-180deg);
}

.SI-card:hover .SI-card-side-back{
  transform: rotateY(0deg);
}

.Q-card{
  perspective: 150rem;
  height: 65vh;
  width: 20rem;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  box-shadow:
    22px 22px 14px #363536;
}

.Q-card-side{
  height: 65vh;
  width: 20rem;
  font-size: 3rem;
  color: black;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Q-card-side-front{
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.25s;
}

.Q-card-side-front-text{
  transform: translateY(-12.5rem);
  color: #202020;
  letter-spacing: .3rem;
  text-shadow: 
    2px 2px 1px #363636;
}

.Q-card-side-back{
  background-color: whitesmoke;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: rotateY(-180deg);
  transition: all 0.25s;
}

.Q-card:hover .Q-card-side-front{
  transform: rotateY(-180deg);
}

.Q-card:hover .Q-card-side-back{
  transform: rotateY(0deg);
}
.Bx-card{
  perspective: 150rem;
  height: 65vh;
  width: 20rem;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  box-shadow:
    26px 26px 17px #363536;
}

.Bx-card-side{
  height: 65vh;
  width: 20rem;
  font-size: 3rem;
  color: black;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Bx-card-side-front{
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.25s;
}

.Bx-card-side-front-text{
  transform: translateY(-12.5rem);
  color: #202020;
  letter-spacing: .3rem;
  text-shadow: 
    2px 2px 1px #363636;
}

.Bx-card-side-back{
  background-color: whitesmoke;
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: rotateY(-180deg);
  transition: all 0.25s;
}

.Bx-card:hover .Bx-card-side-front{
  transform: rotateY(-180deg);
}

.Bx-card:hover .Bx-card-side-back{
  transform: rotateY(0deg);
}

.three-sect{
  height: 95vh;
  background-color: $triadic-color-1;
  @include phone {
    height: 165vh;
  }
  @include tablet {
    height: 95vh;
  }
  @include laptop{
    height: 95vh;
  }
}

.title-3{
  display: flex;
  justify-content: space-around;
  font-size: 10rem;
  color: #2c2c2c;
  letter-spacing: .5rem;
  text-shadow: 
    4px 4px 0px $background-color, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
  @include phone{
    font-size: 3rem;
  }
  @include tablet{
    font-size: 7rem;
  }
  @include laptop{
    font-size: 10rem;
  }
}

.gal-sect{
  position: relative;
  @include phone {
    height: 125vh;
  }
  @include tablet {
    height: 80vh;
  }
  @include laptop {
    height: 80vh;
  }
}

.gal-photo{
  position: absolute;
  transition: all 0.3s;
  outline-offset: 1rem;
}

.times-sq{
  top: 10rem;
  left: 17rem;
  @include phone {
    width: 20rem;
    left: 8rem;
    top: 5rem;
  }
  @include tablet {
    height: 30rem;
    left: 15rem;
    top: 10rem;
    width: 15rem;
  }
  @include laptop {
    height: 50rem;
    left: 45rem;
    top: 10rem;
    width: 25rem;
  }
}

.bklyn-br{
  top: 10rem;
  left: 40rem;
  @include phone {
    top: 35rem;
    left: 8rem;
    width: 20rem;
  }
  @include tablet {
    top: 10rem;
    left: 31rem;
    height: 30rem;
    width: 15rem;
  }
  @include laptop {
    top: 10rem;
    left: 72rem;
    height: 50rem;
    width: 25rem;
  }
}

.man-br{
  top: 10rem;
  left: 66rem;
  @include phone {
    top: 65.66rem;
    left: 8rem;
    width: 20rem;
  }
  @include tablet {
    top: 10rem;
    left: 47rem;
    height: 30rem;
    width: 15rem;
  }
  @include laptop {
    top: 10rem;
    left: 99rem;
    height: 50rem;
    width: 25rem;
  }
}

.liberty{
  top: 10rem;
  right: 17rem;
  @include phone {
    top: 91.33rem;
    left: 8rem;
    width: 20rem;
  }
  @include tablet {
    top: 10rem;
    left: 65rem;
    height: 30rem;
    width: 15rem;
  }
  @include laptop {
    top: 10rem;
    left: 126rem;
    height: 50rem;
    width: 25rem;
  }
}

.gal-photo:hover {
  transform: scale(1.3);
  border-radius: 2rem;
  outline: 1rem solid #222;
  z-index: 2;
}
.gal-sect:hover .gal-photo:not(:hover) {
  transform: scale(0.9);
  filter: grayscale(100%);
}

.four-sect{
  height: 95vh;
  background-color: $complementary-color;
  @include phone {
    height: 165vh;
  }
  @include tablet {
    height: 95vh;
  }
  @include laptop{
    height: 95vh;
  }
}

.title-4{
  display: flex;
  justify-content: space-around;
  font-size: 10rem;
  color: #2c2c2c;
  letter-spacing: .5rem;
  text-shadow: 
    4px 4px 0px $background-color, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
  @include phone{
    font-size: 3rem;
  }
  @include tablet{
    font-size: 7rem;
  }
  @include laptop{
    font-size: 10rem;
  }
}

.button-sect{
  height: 80vh;
}

.button {
  display: inline-block;
  background-color: lightblue;
  border: none;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 40px;
  min-width: 10vw;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
}


.button {
  position: relative;
  overflow: hidden;
}

.button::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  
  /* Center the ripple */
  top: 50%;
  left: 50%;

  animation: ripple 1s;
  opacity: 0;
}
.button:focus:not(:active)::after {
  display: block;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}