html {
    margin: 0 auto;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  /*  @include desktop{
      font-size: 65%;
    }*/
  }

body {
 background-color: white;
}
.splash-img-sect{
  background-image: url(https://cdn.pixabay.com/photo/2016/02/19/11/51/world-trade-center-1210003_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-emphasis: bold;
  height: 100vh;
}
.two-sect{
  background-color: paleturquoise;
  height: 100vh;
}
.title{
  display: flex;
  justify-content: space-around;
  font-size: 5rem;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  animation-name: title-slide;
  animation-duration: 15s;
}

@keyframes title-slide {
  0%{
    font-size: 5rem;
  }
  100%{
    transform: translateY(15rem);
    font-size: 10rem;
  }
}

.menu-button{
  background-color: rgba(0,0,0,0);
  border-radius: 15rem;
}

.menu-button:hover{
  background-color: red;
}

.title-2{
  display: flex;
  justify-content: space-around;
  font-size: 5rem;
}

.music-control{
  position: absolute;
  right: 0;
}

.man-card{
  perspective: 150rem;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.man-card-side{
  height: 500px;
  width: 300px;
  font-size: 15px;
  color: black;
  backface-visibility: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
}

.man-card-side-front{
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 1s;
}

.man-card-side-back{
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transform: rotateY(-180deg);
  transition: all 1s;
}

.man-card:hover .man-card-side-front{
  transform: rotateY(-180deg);
}

.man-card:hover .man-card-side-back{
  transform: rotateY(0deg);
}