$laptop: 1200px;
$tablet: 900px;
$phone: 600px;

@mixin laptop {
    @media(min-width:#{$laptop}){
        @content;
    }
}

@mixin tablet {
    @media(min-width:#{$tablet}){
        @content;
    }
}

@mixin phone {
    @media(min-width:#{$phone}){
        @content;
    }
}




